<h2 mat-dialog-title>Tamaño de la imagen</h2>
<mat-dialog-content>
    <div class="container">
        <form [formGroup]="myForm">

            <div class="d-flex gap-2">
                <div class="mb-3">
                    <label for="text" class="form-label">Altura (px)</label>
                    <input type="number" [min]="10" class="form-control"  formControlName="altura" id="text"
                        name="text">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Ancho (px)</label>
                    <input type="number" [min]="10" class="form-control" id="image"
                        formControlName="ancho" name="image">
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Texto alternativo</label>
                <input type="text" class="form-control"  id="image"
                    formControlName="alternativo" name="image">
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="d-flex mt-2 gap-2 justify-content-end">
        <button class="btn btn btn-light" (click)="dialogRef.close()">Cancelar</button>
        <button class="btn btn-primary " (click)="saveTamano()" [disabled]="this.myForm.invalid" >Aceptar</button>
    </div>
</mat-dialog-actions>