.dina4 {
    width: 210mm;
    height: 297mm;
    padding: 20px 60px;
    border: 1px solid #D2D2D2;
    background: #fff;
    margin: 10px auto;
    white-space: initial;
    word-wrap: break-word;
    page-break-inside: avoid
}

.height-option {
    max-height: 400px;
    overflow-y: auto;
}

.input-search {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    cursor: pointer;
}

ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 180px;
}

li:hover>ul {
    display: block;
}

.altura-editor {
    height: 40vh;
}

.contenedor-ckeditor {
    max-height: 400px;
    /* Establece la altura máxima en 400 píxeles; ajusta según tus necesidades */
    overflow-y: auto;
    /* Agrega una barra de desplazamiento vertical al contenedor */
    position: relative;
    /* Establece una posición relativa para el contenedor */
}

.contenedor-ckeditor .ck-toolbar {
    position: sticky;
    /* Fija la posición de la barra de herramientas */
    top: 0;
    /* Fija la barra de herramientas en la parte superior del contenedor */
    z-index: 1;
    /* Asegura que la barra de herramientas esté por encima del área de contenido editable */
    background-color: #f5f5f5;
    /* Cambia el color de fondo según tus preferencias */
}

.contenedor-ckeditor .ck-editor__editable {
    max-height: none !important;
    /* Anula cualquier altura máxima establecida en el área de contenido editable */
    overflow-y: auto;
    /* Agrega una barra de desplazamiento vertical al área de contenido editable */
}