<!-- app.component.html -->
<section>
    <div class="container-fluid mt-3">
        <h1>Generador de certificados</h1>
        <form [formGroup]="form">
            <div class="row">
                <div class="col-9">
                    <div>
                        <div class="d-flex altura-editor">
                            <div style="width: 25%;">
                                <div class="px-2 d-flex flex-column">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" formControlName="url"
                                            placeholder="Endpoint">
                                        <button class="btn btn-outline-secondary" (click)="viewBtn()" type="button"
                                            [disabled]="this.form.get('url')?.invalid || loadingVariables"><i
                                                *ngIf="!loadingVariables" class="bi bi-search"></i>
                                            <div *ngIf="loadingVariables"
                                                class="spinner-border spinner-border-sm  text-primary" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </button>
                                    </div>
                                    <div *ngIf="alertVariables" class="alert alert-danger" role="alert">
                                        {{alertVariables}}
                                    </div>
                                    <div *ngIf="variables">



                                        <div *ngFor="let btn of this.keys">

                                            <div class="d-grid gap-2">
                                                <!-- botones -->
                                                <button type="button" class="mt-2 btn btn-primary dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    {{btn}}
                                                </button>
                                                <ul class="dropdown-menu height-option">
                                                    <ng-container *ngIf="btn == 'logos'">
                                                        <li class="dropdown-item input-search">
                                                            <input type="text" class="form-control"
                                                                [formControl]="listIcons">
                                                        </li>
                                                        <li *ngFor="let label of this.response?.data[0][btn] | searhList:listIcons.value:'name'"
                                                            class="dropdown-item"><a class="dropdown-item"
                                                                (click)="insertImage(label.value)">{{label.name}}</a>

                                                        </li>
                                                    </ng-container>
                                                    <ng-container *ngIf="btn == 'listadoVariables'">
                                                        <li class="dropdown-item "
                                                            style="position: sticky;top: 0;z-index: 1; background-color: white;">
                                                            <input type="text" class="form-control"
                                                                [formControl]="listVariables">
                                                        </li>
                                                        <li *ngFor="let label of this.response?.data[0][btn] | searhList:listVariables.value:'key'"
                                                            class="dropdown-item"><a class="dropdown-item"
                                                                (click)="inserObject(label.key)">{{label.key}}</a>
                                                        </li>
                                                    </ng-container>


                                                </ul>
                                            </div>


                                        </div>





                                    </div>

                                    <!-- botones -->
                                    <button *ngIf="variables" type="button" class="mt-2 btn btn-primary"
                                        (click)="openModal()" aria-expanded="false">
                                        Marca de agua
                                    </button>

                                </div>

                            </div>
                            <div style="max-width: 74%;" class="contenedor-ckeditor ">
                                <ckeditor [editor]="editor" [data]="texto" (ready)="onReady($event)"></ckeditor>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="dina4" [innerHtml]="contenidoSeguro"></div>
                    </div>

                    <div #paginaContainer>
                        <!-- Aquí se insertarán las páginas generadas automáticamente -->
                    </div>



                </div>
                <div *ngIf="viewBtnSave" class="col">
                    <div class="d-flex flex-column">
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                        <button [disabled]="this.form.invalid || loadingSave"
                            class="btn btn-outline-secondary mt-1 mb-2" (click)="saveTemplate()" type="button">
                            <div *ngIf="loadingSave" class="spinner-border spinner-border-sm  text-primary"
                                role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span *ngIf="!loadingSave">Guardar</span>

                        </button>

                        <div *ngIf="alertSave == 'success'" class="alert alert-success" role="alert">
                            Se guardo con éxito.
                        </div>
                        <div *ngIf="alertSave == 'danger'" class="alert alert-danger" role="alert">
                            Problemas al guardar, inténtalo más tarde
                        </div>

                    </div>
                </div>
            </div>

        </form>
    </div>
</section>