<!-- app.component.html -->
<section>
    <div class="container mt-3">
        <h1>Generador de certificados</h1>

        <div class="p-3">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Endpoint </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Ingrese url del endpoint .</div>
            </div>
            <button type="button" (click)="viewBtn()" class="btn btn-primary">Consultar </button>
        </div>

        <div *ngIf="variables" class="btn-group" role="group" aria-label="Button group with nested dropdown">
            
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Objetos
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="dropdown-item" href="#">Persona</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" (click)="inserObject('persona.nombre')">Nombre</a></li>
                        <li><a class="dropdown-item" href="#" (click)="inserObject('persona.apellido')">Apellido</a>
                        </li>
                        <li><a class="dropdown-item" href="#" (click)="inserObject('persona.dirección')">Dirección</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-item"><a class="dropdown-item" href="#">Producto</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" (click)="inserObject('producto.nombre')">Nombre</a></li>
                        <li><a class="dropdown-item" href="#" (click)="inserObject('producto.precio')">Precio</a></li>
                        <li><a class="dropdown-item" href="#" (click)="inserObject('producto.registro')">Registro</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Listados
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="dropdown-item" href="#">Actividades</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" (click)="inserArray('actividades','codigo')">Codigo</a>
                        </li>
                        <li><a class="dropdown-item" href="#" (click)="inserArray('actividades','nombre')">Nombre</a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown-item"><a class="dropdown-item" href="#">Cargos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"
                                (click)="inserArray('cargos','identificador')">Identificador</a></li>
                        <li><a class="dropdown-item" href="#" (click)="inserArray('cargos','nombre')">Nombre</a></li>

                    </ul>
                </li>
            </ul>
        </div>





        <!-- <button (click)="insertHTML()">Marcar Palabra</button> -->
        <ckeditor [editor]="editor" [data]="texto" (ready)="onReady($event)"></ckeditor>

        {{getEditorHtml()}}
    </div>
</section>