<h2 mat-dialog-title>Marca de agua</h2>
<mat-dialog-content>
  <div class="container">
    <form [formGroup]="myForm">
      <mat-radio-group aria-label="Select an option" color="primary" formControlName="tipo">
        <mat-radio-button value="I">Imagen</mat-radio-button>
        <mat-radio-button value="T">Texto</mat-radio-button>
      </mat-radio-group>

      <div class="mb-3" *ngIf="!image ; else imagen">
        <label for="text" class="form-label">Texto</label>
        <input type="text" class="form-control" placeholder="Ejm: Borrador" formControlName="text" id="text"
          name="text">
      </div>
      <ng-template #imagen>

        <div class="mb-3">
          <label for="image" class="form-label">Url Imagen</label>
          <input type="text" class="form-control" placeholder="Ejm: https://www.prueba.es/img" id="image"
            formControlName="image" name="image">
        </div>

        <div class="d-flex gap-2">
          <div  style="cursor: pointer;" class="pe-auto" (click)="option('center')" [ngClass]="styleImage('center')" >
            <img src="assets/img/center.JPG" alt="center image">
          </div>
          <div  style="cursor: pointer;" class="pe-auto" (click)="option('fill')" [ngClass]="styleImage('fill')">
            <img src="assets/img/fill.JPG" alt="image fill">
          </div>
          <div  style="cursor: pointer;" class="pe-auto" (click)="option('strech')" [ngClass]="styleImage('strech')">
            <img src="assets/img/strech.JPG" alt="image strech">
          </div>
        </div>
      </ng-template>

    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="d-flex mt-2 gap-2 justify-content-end">
    <button class="btn btn btn-light" (click)="dialogRef.close()">Cancelar</button>
    <button class="btn btn-primary " [disabled]="myForm.invalid" (click)="dialogRef.close()" >Aceptar</button>
  </div>
</mat-dialog-actions>